// $primary: #065F46;

// $secondary: #7F877F;

// $accent: #22C55E;

// $dark: #0F172A;

// $dark-page: #020617;

// $positive: #16A34A;

// $negative: #DC2626;

// $info: #0284C7;

// $warning: #D97706;

$primary: #065f46;

$secondary: #6b7280;

$accent: #22c55e;

$dark: #111827;

$dark-page: #030712;

$positive: #16a34a;

$negative: #b91c1c;

$info: #0284c7;

$warning: #ca8a04;
